@import 'variables';
.header {
	background-color: #fff;
	border-bottom: solid black 1px;
}

.header-container {
	height: 100px;
}

.contact-info {
	height: 50px;
	display: flex;
}

@mixin contacts-wrap($width: 100%) {
	height: inherit;
	text-align: center;
	padding-top: 15px;
	width: $width;
	color: #fff;
}

.coords {
	@include contacts-wrap(40%);
	background-color: $mainBlackColor;
}

.contacts {
	@include contacts-wrap(60%);
	background-color: $mainBlueColor;
	display: flex;
	justify-content: space-around;
}

@mixin header-icon() {
	content: '';
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	height: 20px;
	left: -35px;
	width: 20px;
}

.logo-wrapper {
	cursor: pointer;
	margin-left: 35px;
	margin-top: 30px;
	width: 60px;
	height: 60px;
	background: no-repeat;
	background-image: url('../../assets/routeHome.png');
	background-size: 60px;
	background-position: center;
}

.header-nav {
	height: inherit;
	display: flex;
	justify-content: space-between;
}

.buttons-wrapper {
	display: flex;
	margin-right: 10px;
	padding-right: 150px;
	max-height: 30px;
	align-self: center;
}

.header-img {
	margin: 0 auto;
	width: 55px;
	height: 55px;
	border-radius: 50px;
	margin-top: 4px;
}

@media screen and (max-width: 1000px) {
	.header {
		.coords,
		.contacts {
			width: 50%;
		}
		.contacts__item:first-child {
			display: none;
		}
		.buttons-wrapper {
			padding-right: 0;
			.header-links:first-child {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		.coords__item {
			display: block;
			width: 150px;
			margin: auto;
			&::before {
				left: -10px;
			}
		}
		.contacts__item::before {
			left: -25px;
		}
		.header-nav {
			justify-content: space-around;
			.header-links {
				display: none;
			}
		}
	}
}
